<!-- restaurant/templates/restaurant/base.html-->
<!-- Sion Zhan (sszhan24@bu.edu), 9/18/26 -->
<!-- base page providing header and navigation for the page. Also includes needed styling info -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Enjoyable Place to Eat{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'static/styles.css' %}">
</head>
<body>
    <header>
        <h1>Enjoyable Place to Eat</h1>
        <nav>
            <a href="{% url 'main' %}">Home</a> |
            <a href="{% url 'order' %}">Order</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>
    <footer>
        <p>&copy; 2026 Enjoyable Place to Eat. 679 Foodies Street, Boston, MA</p>
    </footer>
</body>
</html>