<!-- templates/article.html -->

{% extends 'blog/base.html' %}

<h1>{{article.title}}</h1>

{% block content %}

<main class="grid-container">

    <article class="featured">
        <!-- <img src="{{article.image_url}}" alt=""> -->
        {% if article.image_file_url %}
        <img src="{{article.image_file.url}}" alt="{{article.image_file.url}}">
        {% endif %}

        <div>
        <h2>{{article.title}}</h2>
        <strong>by {{article.author}} at {{article.published}}</strong>
        <p>
        {{article.text}}
        </p>
        </div>>

    </article>

    <div>
    <h2>Comments</h2>

    <h3><a href="{% url 'update_article' article.pk %}">Update Article</a></h3>
    <h3><a href="{% url 'create_comment' article.pk %}">Create a Comment</a></h3>
    
    <!-- Display the comments about this article -->
    <!-- Comments: {{article.get_all_comments}} -->
     {% for c in article.get_comments %}
     <article>
        <div>
        <strong>by {{c.author}} at {{c.published}}</strong>
        <p>
        {{c.text}}
        <a href="{% url 'delete_comment' c.pk %}">Delete</a>
        </p>
        </div>
     </article>

        {% endfor %}
</div>
</main>
{% endblock %}
