<!-- create_post_form.html
    Sion Zhan (sszhan24@bu.edu), 10/2/26
    Form for creating a new Post for a given Profile. -->

{% extends 'mini_insta/base.html' %}
{% block content %}
<h1>Create a New Post</h1>
<p><em>for {{ profile.username }}</em></p>

<form method="POST"
    action="{% url 'mini_insta:create_post' profile.pk %}"
    enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
        <p>
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br>
            {{ field }}
            {% if field.errors %}
                <br><span class="error">{{ field.errors }}</span>
            {% endif %}
        </p>
    {% endfor %}

    <p>
        <label for="files">Upload photo(s):</label><br>
        <input type="file" name="files" id="files" accept="image/*" multiple>
    </p>

    <button type="submit">Submit</button>
    <a href="{% url 'mini_insta:show_profile' profile.pk %}">
        <button type="button">Cancel</button>
    </a>
</form>
{% endblock %}