<!-- post_list.html
    Sion Zhan (sszhan24@bu.edu), 9/30/26
    display all post records in a feed
-->

{% extends 'mini_insta/base.html' %}
{% block content %}
<h1>Feed</h1>

{% for post in posts %}
    <div class="post">
        <h3>
            <a href="{% url 'mini_insta:show_profile' post.profile.pk %}">
                {{ post.profile.username }}
            </a>
            <small>- {{ post.timestamp|date:"M d, Y H:i" }}</small>
        </h3>
        
        {% with first_photo=post.get_all_photos.first %}
            {% if first_photo %}
                <a href="{% url 'mini_insta:show_post' post.pk %}">
                    <img src="{{ first_photo.image_url }}" alt="post photo" width="200">
                </a>
            {% endif %}
        {% endwith %}

        <p>{{ post.caption }}</p>
        <p><em>{{ post.comments.count }} comment{{ post.comments.count|pluralize }}</em></p>
    </div>
{% empty %}
    <p>No posts yet. Add some in the <a href="/admin/">admin</a>.</p>
{% endfor %}
{% endblock %}