<!-- show_all_profiles.html
    Sion Zhan (sszhan24@bu.edu), 9/30/26
    displays all profile records in a table, each links
    to individual profile page
-->

{% extends 'mini_insta/base.html' %}
{% block content %}
<h1>All Profiles</h1>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Username</th>
            <th>Display Name</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>
                <a href="{% url 'mini_insta:show_profile' profile.pk %}">
                    {% if profile.profile_image_url %}
                        <img src="{{ profile.profile_image_url }}"
                            alt="{{ profile.username }}"
                            wdith="80">
                    {% else %}
                        (no image)
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{% url 'mini_insta:show_profile' profile.pk %}">
                    {{ profile.username }}
                </a>
            </td>
            <td>
                <a href="{% url 'mini_insta:show_profile' profile.pk %}">
                    {{ profile.display_name|default:profile.username }}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No profiles yet.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}